*{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
}

.nav{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}
.nav img{
	margin-top: 15px;
	height: 50px;
	width: 208px;
}
.nav p{
	float: right;
	line-height: 80px;
}
.nav p a{
	color: #000;
	font-size: 20px;
	float: left;
	text-align: center;
	width: 160px;
	height: 70px;
}
.nav p a:hover{
	color: orange;
	border-bottom: 3px solid orange;
	text-decoration: none;
}
.o-visa{
	background-color: #ddd;
	height: 600px;
}
.footer{
	background-color: #000;
	height: 120px;
	width: 100%;
	text-align: center;
	line-height: 120px;
	color: #fff;
}
.o-visa>div{
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	color: #fff;
}
.visa-left{
	float: left;
	margin-top: 20px;
	margin-right: 2px;
	position: relative;
}
.visa-left>div{
	position: absolute;
	width: 360px;
	padding-left: 38px;
	text-align: center;
	line-height: 73px;
	font-size: 20px;
	background-color: rgba(0,0,0,0.4);
	left: 0;
	bottom: 0;
}
.visa-left>div>span{
	font-size: 30px;
}
.visa-left>img{
	height: 560px;
	width: 398px;
}
.visa-right{
	float: left;
	width: 800px;
	height: 560px;
}
.visa-right>div{
	float: right;
	margin-top: 20px;
}
.image{
	width: 398px;
	height: 278px;
}
/* .one{
	position: relative;
}
.one>div{
	width: 360px;
	padding-left: 38px;
	height: 73px;
	text-align: center;
	line-height: 73px;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	color: #fff;
	font-size: 18px;
	position: absolute;
	margin-bottom: 4px;
}
.one>div>span{
	font-size: 26px;
} */


